
.card1 img{
  width: 350px;
  margin-left: 30px;
  border: solid 20px rgb(245, 202, 195);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 40px;
}
